
{%extends 'base.html'%}
{% load event_tags %}
{% load static%}
{% load staticfiles %}
{% block content %}
{% load bootstrap4 %}

{{ block.super }}
    <div class="banner">
    <div class="cover">
        <div class="container image">
        </div>
    </div>
</div>


<div class="container wrap">
    <div class="row" id="final">
    {% for item in data.features %}
         <div class="col-md-4">
                 <div class="portfolio-wrap ">
                     <div class="portfolio-wrap hovereffect">
                         <a class="img-overlay" data-toggle="modal" data-target="#{{item.properties.id}}" style="width:100%">
                             {% if item.properties.photo_url %}
                             <img src="{{item.properties.photo_url}}" href="" class="image" alt="Image" >
                             {% else %}
                         <img src="{% static 'images/no.jpeg' %}" href="" class="image" alt="Image" >
                         {% endif %}
                             <div class="overlay">
                                 <h4>{{item.properties.name}}</h4>
                             </div>
                         </a>


                     </div>
                 </div>
             </div>
    {% empty %}
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/sorry.png' %}" alt="" class="oops">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> Sorry no images for now they are comming soon.</h2>
        </div>
    </div>
    {% endfor %}

{#     modal #}
    {% for item in data.features %}
        <div class="modal fade" id="{{item.properties.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-9 col-lg-9">
                                {% if item.properties.photo_url %}
                                <a href=""><img id="img{{item.properties.id}}" src="{{item.properties.photo_url}}" class="img-thumbnail" alt="Image" style="width: 100vh">
                                 {% else %}
                         <img src="{% static 'images/no.jpeg' %}" href="" class="image" alt="Image" >
                         {% endif %}</a>

                            </div>
                            <div class="col-md-4">
                                <h4 class = "desc">Location</h4>
                                <p>{{item.properties.venue.localized_country_name}}</p>
                                <p>{{item.properties.time}}</p>
                                <p> <i class="fa fa-map-marker-alt" style="font-size:30px;" aria-hidden="true"></i>{{item.properties.venue.address_1}}</p>
                            </div>
                            <div>
                                <h2 class="desc" style="color:#056b5b">{{item.properties.name}}</h2><hr>
                                <a href="{{ event|google_calendarize}}">+ Add to Google Calendar</a>

                                <p >{{item.properties.description}}</p>
                            </div>

                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
